/*toolbar and tab group styling matching to the menu bar*/
.toolbar-header
,tab-group
{
    border-bottom: 0;
    background: linear-gradient(to bottom, #FAFAFA, #F0F0F0) !important;
    min-height: fit-content;
}

/*more darker app header title*/
.toolbar-header .title {
    margin: 1px 0;
    font-weight: 900 !important;
}

x-menubar{
    border: 0;
    padding: 0 6px 0 0;
}
.toolbar-header > h1{
    -webkit-app-region: drag;
}
.pane.theme-gray
{
    /*overflow-y: hidden !important;*/
}

/*remove bootstrap default margin*/
.row
{
    margin-left: 0;
    margin-right: 0;
}

/*fix conflict with table.scss*/
.table-striped tbody tr:nth-of-type(odd)
{
    background: none !important;
}

.table-striped tbody tr:nth-of-type(odd):active
{
    background: #116cd6 !important;
}

x-card {
    margin: 15px 0 15px 0 !important;
}

x-card header{
    text-align: left !important;
    padding: 10px;
}

/*give the dashboard cards some box shadow*/
x-card main {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 0;
}

x-card main:hover {
    /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.3);
}

